body {
  font-family: 'Open Sans Condensed', sans-serif;
  padding: 20px 60px;
}

a {
  text-decoration: none;
  color: black;
}

/* includes the padding in an elements total width and height with the ALL selector */
* {
  box-sizing: border-box;
}
